DATABASE_URL= url de la base de datos
NODE_ENV= ambiente de desarrollo "development/production"
FRONTEND_URL= url del frontend
JWT_SECRET= clave de seguridad para el jwt
CORS_ORIGIN= url de frontend para cors, se pueden insertar varias separadas por comas "url,url2,url3"
TAMBO_AI_URL= url del backend de IA